<section class="content content-projects has-{{scheme}}-scheme">
	<div>
		<h2>{{data.headline}}</h2>
		<p>{{data.copy}}</p>

		<ul>
			{{#each data.projects}}
				<li id="{{slugify ../data.headline}}-{{slugify this.name}}">
					<h3>
						<span>
							{{#if this.url}}
								<a
									href="{{this.url}}"
									title="Open the ”{{this.name}}” website"
									target="_blank"
									rel="noopener noreferrer">
							{{/if}}
								{{this.name}}
							{{#if this.url}}
								</a>
							{{/if}}
						</span>
						{{#if this.note}}
							<em>{{this.note}}</em>
						{{/if}}
					</h3>

					{{#if this.datePublished}}
						<time datetime="{{this.datePublished}}">
							{{moment this.datePublished format='Y'}}
						</time>
					{{/if}}

					{{#if this.details}}
						<p>{{this.details}}</p>
					{{/if}}

					{{#if this.client}}
						<div class="client">
							Client:
							{{#if this.client_url}}
								<a
									href="{{this.client_url}}"
									title="Open the ”{{this.client}}” website"
									target="_blank"
									rel="noopener noreferrer">
							{{/if}}
							{{this.client}}
							{{#if this.client_url}}
								</a>
							{{/if}}
						</div>
					{{/if}}

					{{#if this.agency}}
						<div class="agency">
							Agency:
							{{#if this.agency_url}}
								<a
									href="{{this.agency_url}}"
									title="Open the ”{{this.agency}}” website"
									target="_blank"
									rel="noopener noreferrer">
							{{/if}}
							{{this.agency}}
							{{#if this.agency_url}}
								</a>
							{{/if}}
						</div>
					{{/if}}

					{{#if this.url}}
						<a
							class="link"
							href="{{this.url}}"
							title="Open the ”{{this.name}}” website"
							target="_blank"
							rel="noopener noreferrer">
							{{default url_label 'Visit project'}}
						</a>
					{{/if}}
				</li>
			{{/each}}
		</ul>
	</div>
</section>
