<div class="content content-projects has-{{scheme}}-scheme">
	<div>
		<h2>{{data.headline}}</h2>
		<p>{{data.copy}}</p>

		<ul>
			{{#each data.projects}}
				<li>
					<h3>
						{{#if this.url}}
							<a
								href="{{this.url}}"
								title="Open the ”{{this.name}}” website"
								target="_blank"
								rel="noopener">
						{{/if}}
							{{this.name}}
						{{#if this.url}}
							</a>
						{{/if}}
					</h3>
					{{#if this.datePublished}}
						<time datetime="{{this.datePublished}}">
							{{this.datePublished}}
						</time>
					{{/if}}

					<p>{{this.details}}</p>

					{{#if this.url}}
						<a
							href="{{this.url}}"
							title="Open the ”{{this.name}}” website"
							target="_blank"
							rel="noopener">
							Visit project
						</a>
					{{/if}}
				</li>
			{{/each}}
		</ul>
	</div>
</div>
