<div class="content content-projects has-{{scheme}}-scheme">
	<div>
		<h2>{{data.headline}}</h2>
		<p>{{data.copy}}</p>

		<ul>
			{{#each data.projects}}
				<li>
					<h3>
						<span>
							{{#if this.url}}
								<a
									href="{{this.url}}"
									title="Open the ”{{this.name}}” website"
									target="_blank"
									rel="noopener">
							{{/if}}
								{{this.name}}
							{{#if this.url}}
								</a>
							{{/if}}
						</span>
						{{#if this.note}}
							<em>{{this.note}}</em>
						{{/if}}
					</h3>
					{{#if this.datePublished}}
						<time datetime="{{this.datePublished}}">
							{{moment this.datePublished format="Y"}}
						</time>
					{{/if}}

					{{#if this.details}}
						<p>{{this.details}}</p>
					{{/if}}

					{{#if this.url}}
						<a
							href="{{this.url}}"
							title="Open the ”{{this.name}}” website"
							target="_blank"
							rel="noopener">
							Visit project
						</a>
					{{/if}}
				</li>
			{{/each}}
		</ul>
	</div>
</div>
