<div class="content content-social">
	<div>
		<h2>{{data.headline}}</h2>

		<ul>
			{{#each data.links}}
				<li class="is-type-{{this.type}}">
					<a
						href="{{this.href}}"
						title="Follow me on {{this.label}}"
						target="_blank"
						rel="noopener bookmark">
						<span>{{this.label}}</span>
					</a>
				</li>
			{{/each}}
		</ul>
	</div>
</div>
