<html lang="en" itemscope itemtype="http://schema.org/ProfilePage">
	<head>
		<meta charset="utf-8">
		<title>{{#if title}}{{title}}{{/if}}</title>
		<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0,width=device-width" />

		<link rel="preload" href="{{assets}}fonts/lora.woff" as="font" type="font/woff" crossorigin="crossorigin" />
		<link rel="preload" href="{{assets}}fonts/satisfy.woff" as="font" type="font/woff" crossorigin="crossorigin" />
		<link rel="preload" href="{{assets}}fonts/icons.woff" as="font" type="font/woff" crossorigin="crossorigin" />

		<link rel="stylesheet" type="text/css" href="{{assets}}css/styles.css" />
	</head>
	<body itemprop="about" itemscope itemtype="http://schema.org/Person">
		{{> body}}

		<script type="text/javascript">
			function __run() {
				window.ApplicationRunner.run(['app/Application']);
			}
		</script>
		<script type="text/javascript" src="{{assets}}js/Application.en.js" async defer onload="__run()"></script>
	</body>
</html>
